In [1]:
myBoolean = True

In [2]:
myBoolean

True

In [3]:
type(myBoolean)

bool

In [4]:
myBoolean = False

In [6]:
#controls return boolean
10 > 5

True

In [7]:
10 <5

False

In [8]:
salary = [5000,10000,3000,2000,1000,4000]

In [10]:
len(salary) #lenght of the list, how many item in the list?

6

In [12]:
sum(salary) #sum of the salaries

25000

In [13]:
ortalama = sum(salary)/len(salary)

In [14]:
ortalama

4166.666666666667

In [15]:
salary[3] > ortalama

False

In [19]:
userSalary = input("enter salary information: ")

enter salary information: 6000

In [24]:
userSalary < ortalama # type error because userSalary is an string

TypeError: '<' not supported between instances of 'str' and 'float'

In [21]:
userSalaryInt = int(input("enter salary information: "))

enter salary information: 6000

In [22]:
type(userSalaryInt)

int

In [23]:
userSalaryInt > ortalama

True

In [35]:
x = 10
y = 8

In [36]:
x < y

False

In [37]:
x > y

True

In [38]:
x >= y

True

In [39]:
9 >= 9

True

In [40]:
x <= y

False

In [41]:
x == y

False

In [43]:
x != y

True

In [44]:
3 > 1 and 3 > 2

True

In [45]:
1 > 3 and 3 > 2

False

In [46]:
1 > 3 or  3 > 2

True

In [48]:
not 5 == 5

False

In [49]:
5 == 5

True

In [50]:
not 5 == 4

True