In [1]:
myList = [10,20,30,40,50]

In [2]:
if 10 in myList:
    print("yes, there is")

yes, there is

In [3]:
myList[0]*5/3

16.666666666666668

In [4]:
myList[1]*5/3

33.333333333333336

In [11]:
for number in myList:
    print(number)

10
20
30
40
50

In [12]:
for num in myList:
    newNumber = num*5/3
    print(newNumber)

16.666666666666668
33.333333333333336
50.0
66.66666666666667
83.33333333333333

In [13]:
newList = [1,2,3,4,5,6]

In [15]:
for num in newList:
    print(num)

1
2
3
4
5
6

In [16]:
for num in newList:
    if num%2==0:
        print(num)

2
4
6

In [17]:
 newString = "Çisem Akman"

In [18]:
for charachter in newString:
    print(charachter)

Ç
i
s
e
m

A
k
m
a
n

In [19]:
myTuple = (1,2,3,4,5)

In [21]:
for i in myTuple:
    print(i-10)

-9
-8
-7
-6
-5

In [22]:
coordinateList = [(10.2,15.2),(32.4,16.2),(40.2,20.2)]

In [23]:
type(coordinateList)

list

In [24]:
coordinateList[1]

(32.4, 16.2)

In [25]:
type(coordinateList[1])

tuple

In [28]:
for i in coordinateList:
    print(i)

(10.2, 15.2)
(32.4, 16.2)
(40.2, 20.2)

In [29]:
for i in coordinateList:
    for k in i:
        print(k)

10.2
15.2
32.4
16.2
40.2
20.2

In [30]:
 for (x,y) in coordinateList:
        print(x)

10.2
32.4
40.2

In [31]:
 for (x,y) in coordinateList:
        print(y)

15.2
16.2
20.2

In [32]:
myDictionary = {"banana" : 100 , "apple" : 150, "watermelon":500}

In [33]:
myDictionary.items()

dict_items([('banana', 100), ('apple', 150), ('watermelon', 500)])

In [34]:
type(myDictionary.items())

dict_items

In [35]:
for (keys,values) in myDictionary.items():
    print(keys)

banana
apple
watermelon

In [36]:
for (keys,values) in myDictionary.items():
    print(values)

100
150
500