In [1]:
mylist = [0,1,2,3,4,5,6]

In [2]:
for num in mylist:
    print(num)

0
1
2
3
4
5
6

## range

In [4]:
range(15)

range(0, 15)

In [5]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [7]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
for num in list(range(15)):
    print(num*5)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70

In [9]:
list(range(5,21,4))

[5, 9, 13, 17]

## enumerate

In [13]:
index = 0
for num in list(range(5,15)):
    print(f"number : {num}  index : {index}" )
    index +=1

number : 5  index : 0
number : 6  index : 1
number : 7  index : 2
number : 8  index : 3
number : 9  index : 4
number : 10  index : 5
number : 11  index : 6
number : 12  index : 7
number : 13  index : 8
number : 14  index : 9

In [14]:
for i in enumerate(list(range(5,15))):
    print(i)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [17]:
for i in enumerate(list(range(5,15))):
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [15]:
for (index,number) in enumerate(list(range(5,15))):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [16]:
for (index,number) in enumerate(list(range(5,15))):
    print(number)

5
6
7
8
9
10
11
12
13
14

## random

In [18]:
from random import randint

In [20]:
randint(0,100)

58

In [21]:
randint(0,100)

71

In [22]:
randint(0,100)

55

In [23]:
newList = list(range(0,10))

In [24]:
newList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
newList[randint(0,9)]

1

In [27]:
newList[randint(0,len(newList))]

3

In [28]:
from random import shuffle

In [30]:
shuffle(newList)

In [31]:
newList

[7, 1, 3, 0, 8, 9, 5, 6, 2, 4]

## zip

In [38]:
foodList = ["banana" , "apple" , "watermelon"]
caloriList = [100,200,300]
dayList = ["Monday", "Tuesday","Wednesday"]

In [36]:
type(zip(foodList,caloriList,dayList))

zip

In [40]:
zipList = list(zip(foodList,caloriList,dayList))

In [43]:
zipList

[('banana', 100, 'Monday'),
 ('apple', 200, 'Tuesday'),
 ('watermelon', 300, 'Wednesday')]

In [42]:
for i in zipList:
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [44]:
for (x,y,z) in zipList:
    print(x)

banana
apple
watermelon

In [45]:
for (x,y,z) in zipList:
    print(y)

100
200
300

In [46]:
for (x,y,z) in zipList:
    print(z)

Monday
Tuesday
Wednesday

## upper level lists

In [49]:
list1 = []
myString = "Çisem Akman"
for charachter in myString:
    list1.append(charachter)

In [50]:
list1

['Ç', 'i', 's', 'e', 'm', ' ', 'A', 'k', 'm', 'a', 'n']

In [51]:
newString = "Çisem Akman"
list2 = [i for i in newString]

In [52]:
list2

['Ç', 'i', 's', 'e', 'm', ' ', 'A', 'k', 'm', 'a', 'n']

In [55]:
list3 = [num**5 for num in list(range(0,10))]

In [56]:
list3

[0, 1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]