# Lists

In [1]:
[10,20,30,40]

[10, 20, 30, 40]

In [2]:
["Çisem", "Sıla", "Ece","Ayşe","Fatma"]

['Çisem', 'Sıla', 'Ece', 'Ayşe', 'Fatma']

In [3]:
#the elements of a list don't have to be the same type
["ali, 2.0, 5, [10,20]"] # a list with another list is nested

['ali, 2.0, 5, [10,20]']

In [4]:
[] #empty list

[]

In [5]:
cheeses = ["cheddar", "gouda", "edam"]

In [35]:
numbers= [1,2,3,4,5]

In [7]:
empty = []

In [11]:
print(cheeses, numbers, empty)

['cheddar', 'gouda', 'edam'] [1, 2, 3, 4, 5] []

In [12]:
#lists are mutable
cheeses[0]

'cheddar'

In [36]:
numbers

[1, 2, 3, 4, 5]

In [37]:
numbers[1]=18
numbers

[1, 18, 3, 4, 5]

In [38]:
cheeses

['cheddar', 'gouda', 'edam']

In [39]:
"edam" in cheeses

True

In [40]:
"brie" in cheeses

False

In [41]:
numbers

[1, 18, 3, 4, 5]

In [42]:
2 in numbers

False

In [43]:
numbers[::-1] #reverse

[5, 4, 3, 18, 1]

In [44]:
for number in numbers:  #traversing a list
    print(number)

1
18
3
4
5

In [45]:
numbers.append(58)

In [46]:
numbers

[1, 18, 3, 4, 5, 58]

## List Operations

In [47]:
a = [1,2,3,4]
b = [5,6,7,8]
a+b #concatenates list

[1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
[0]*4 #repeats list

[0, 0, 0, 0]

In [49]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
a*2

[1, 2, 3, 4, 1, 2, 3, 4]

## List Slices

In [51]:
t = ["a","b","c","d","e","f"]

In [52]:
t[1:3]

['b', 'c']

In [53]:
t[:4]

['a', 'b', 'c', 'd']

In [54]:
t[3:]

['d', 'e', 'f']

In [55]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [57]:
t[0:3]

['a', 'b', 'c']

In [58]:
t[0:3:2] #step size

['a', 'c']

In [59]:
t[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

In [60]:
t[1:3] = ["x","y"]

In [61]:
t

['a', 'x', 'y', 'd', 'e', 'f']

## List Methods

In [67]:
#append adds a new element to the end of the list

a=[1,2,3,4]
a

[1, 2, 3, 4]

In [68]:
a.append(5)
a

[1, 2, 3, 4, 5]

In [70]:
#extend takes a list as an argument and appends all of the elements

b= ["x","y","z"]
a.extend(b)
a

[1, 2, 3, 4, 5, 'x', 'y', 'z']

In [72]:
#sort arranges the elements of the list from low to high

c = [45,13,57,91,17,32]
c.sort()
c

[13, 17, 32, 45, 57, 91]

In [73]:
sum(c)

255

## Deleting Elements

In [7]:
#if you know index number, you can use pop
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [8]:
a.pop(0)
a

[2, 3, 4]

In [9]:
#if you don't know index, it deletes and returns the last element
a.pop()

4

In [10]:
a

[2, 3]

In [13]:
#ıf you know the element you want to remove
t = ["a","b","c"]
t.remove("b")
t

['a', 'c']

In [14]:
#to remove more than one element

a = [1,2,3,4,5,6,7,8,9]
del a[1:3]
a

[1, 4, 5, 6, 7, 8, 9]

In [16]:
del a[-1]
a

[1, 4, 5, 6, 7, 8]

In [18]:
a.count(4)

1

In [19]:
a.append(4)

In [20]:
a

[1, 4, 5, 6, 7, 8, 4]

In [21]:
a.count(4)

2

## List and Strings

In [23]:
a = "cisem"
t = list(a)
t

['c', 'i', 's', 'e', 'm']

In [25]:
type(a)

str

In [26]:
type(t)

list

In [27]:
a[0] = "ç"

TypeError: 'str' object does not support item assignment

In [28]:
t[0] = "ç"

In [29]:
t

['ç', 'i', 's', 'e', 'm']

In [36]:
b = "Çisem Akman"
z=b.split()
z

['Çisem', 'Akman']

In [33]:
x = list(b)

In [34]:
x

['Ç', 'i', 's', 'e', 'm', ' ', 'A', 'k', 'm', 'a', 'n']

In [39]:
delimeter = " "
delimeter.join(z)

'Çisem Akman'

In [40]:
delimeter.join(x)

'Ç i s e m   A k m a n'

In [4]:
nestedList = [1,5,"çisem",4,[6,"z"]]
a = nestedList[4]
a

[6, 'z']

In [5]:
type(a)

list

In [6]:
b = a[1]
b

'z'

In [7]:
type(b)

str

In [8]:
#easy way 
a = nestedList[4][1]
a

'z'

In [9]:
mixList = [[1,2,3,["a","b"],50],40,20,["z",5.5],[3,["a"]]]

In [11]:
b = mixList[0][3][1]
b

'b'

In [12]:
nestedList

[1, 5, 'çisem', 4, [6, 'z']]

In [13]:
nestedList[2:]

['çisem', 4, [6, 'z']]

## Objects and Values

In [15]:
a = "banana"
b = "banana"

In [16]:
a is b

True

In [17]:
c = [1,2,3]
d = [1,2,3]

In [18]:
c is d

False

## Aliasing

In [20]:
a = [3,7,8]
b = a 
b

[3, 7, 8]

In [21]:
b is a

True

In [23]:
b.append(15)

In [24]:
a

[3, 7, 8, 15]

In [25]:
b

[3, 7, 8, 15]

## List Arguments

In [28]:
t1 = [1,2,3]
t2 = t1.append(4) #modify the list
t1

[1, 2, 3, 4]

In [29]:
t2 #result is none because we didn't create a list, we modified the list

In [30]:
t3 = t1 + [5] #create new list
t1

[1, 2, 3, 4]

In [31]:
t3

[1, 2, 3, 4, 5]

In [32]:
t4 = t1[2:] #slice is create new list
t1

[1, 2, 3, 4]

In [33]:
t4

[3, 4]